---
interface Props {
	tags: string[];
}

const { tags } = Astro.props
---
<div class="mt-2" >
    {tags.map(tag=>(
        <a href={`/tags/${encodeURI(tag)}/1`} class="py-1 px-2 text-sm font-medium rounded-md 
                                border border-primary 
                                bg-bg hover:bg-secondary text-slate-500 mr-2">
            {tag}
        </a>
    ))}
</div>

