---
interface Props {
	breadcrumbs: {
		slug: string;
		name: string;
	}[];
    current: string;
}

const { breadcrumbs,current } = Astro.props
---

<ol class="flex items-center whitespace-nowrap mb-4" aria-label="Breadcrumb">

	<li class="inline-flex items-center">
		<a
			class="flex items-center text-sm text-gray-500 hover:text-primary focus:outline-none focus:text-primary"
			href="/"
		>
			Home
			<svg
				class="flex-shrink-0 size-5 text-gray-400 mx-2"
				width="16"
				height="16"
				viewBox="0 0 16 16"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				aria-hidden="true"
			>
				<path
					d="M6 13L10 3"
					stroke="currentColor"
					stroke-linecap="round"></path>
			</svg>
		</a>
	</li>

    {breadcrumbs.map(breadcrumb=>(
        <li class="inline-flex items-center">
            <a
                class="flex items-center text-sm text-gray-500 hover:text-primary focus:outline-none focus:text-primary"
                href={breadcrumb.slug}
            >
                {breadcrumb.name}
            </a>
            <svg
                class="flex-shrink-0 size-5 text-gray-400 mx-2"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
            >
                <path d="M6 13L10 3" stroke="currentColor" stroke-linecap="round"
                ></path>
            </svg>
        </li>
    ))}

	<li
		class="inline-flex items-center text-sm font-semibold text-accent truncate"
		aria-current="page"
	>
		{current}
	</li>
</ol>
