---
interface Props {
	title: string;
}

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-bg text-slate-800 font-ja">
		<Navbar />
		<div class="lg:container lg:max-w-7xl
					sm:mx-auto
					my-2">
			<slot />
		</div>
		<Footer />
	</body>
</html>
<script is:inline src="/scripts/preline.js"></script>
<style is:global>
	/* noto-sans-jp-regular - japanese_latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: "Noto Sans JP";
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/noto-sans-jp-v52-japanese_latin-regular.woff2")
			format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}
	/* noto-sans-jp-700 - japanese_latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: "Noto Sans JP";
		font-style: normal;
		font-weight: 700;
		src: url("/fonts/noto-sans-jp-v52-japanese_latin-700.woff2")
			format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	}
</style>
